/* project variables */
/* general styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium";
  color: #2f2f2f;
}
.page {
  display: inline-block;
  height: 500px;
}
.container {
  width: 60%;
  margin: auto;
}
p {
  margin: 0px auto;
  line-height: 1.4em;
}
/* page background colors */
#blog {
  background-color: #efefef;
}
#about {
  background-color: #5f968e;
}
#portfolio {
  background-color: #bfdccf;
}
#contact,
#footer {
  background-color: #e05858;
}
/* header */
header {
  background-image: url("images/ms-drums.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header p {
  width: 60%;
}
.bonus {
  color: #ffa500;
  position: relative;
  left: 100px;
}
/* navigation bar */
li {
  background-color: #000;
  opacity: 0.5;
  min-width: 200px;
  min-height: 50px;
  display: inline-block;
  text-transform: uppercase;
  font-family: Verdana;
  text-align: center;
}
.toggleColor {
  background-color: #00f;
}
a {
  text-decoration: none;
  color: #f00;
  vertical-align: middle;
}
a:hover {
  color: #fff;
}
h2 {
  padding: 10px;
  text-transform: uppercase;
  font-family: Verdana;
}
/* about page */
#selfie {
  float: left;
  width: 140px;
  margin-right: 20px;
  border-radius: 100%;
}
/* footer */
#footer > p {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}
