/* project variables */
fontBody = "Franklin Gothic Medium"
fontHeadings = Verdana
fontColor = #2f2f2f
lightGray = #efefef
darkTeal = #5f968e
mintGreen = #bfdccf
lightRed = #e05858
lightTan = #d5c9b1

/* general styles */

// *
// 	border 1px solid orange

body
	margin 0
	padding 0	
	font-family fontBody
	color fontColor
.page
	display inline-block
	float left
	min-height 500px
	padding 0px
	width 100%
.container
	width 60%
	margin auto
h2
	position absolute
	text-transform uppercase
	font-family fontHeadings
	margin 15px 0px 0px 15px
	font-size 1.4em
h3
	margin-top 15px
	margin-bottom 15px
p
	margin 15px auto
	line-height 1.4em
p a
	color #333
	text-decoration none
p a:hover
	color #3737ba
p > span
	font-size 80%
	font-style italic
.example
	background-color black
	color white
	font-family Consolas
	padding 7px 7px 7px 14px
	margin-bottom 15px

/* page background colors */
#blog
	background-color lightGray
#about
	background-color darkTeal
#portfolio
	background-color mintGreen	
#contact, #footer
	background-color lightRed

/* header */
header 
	height 100vh
	background-image url("images/ms-drums.jpg")
	background-size cover
	display flex
	flex-direction column
	justify-content center
	align-items center
#head 
	width 100%
	padding 15px 0px
	background-color black
	opacity 0.6
h1, header p
	width 60%
	color lightGray
h1
	margin 20px auto 0px
	text-align center

/* navigation bar */
#navigation 
	width 60%
	margin 0px auto
h4
	margin 0px
	word-spacing 20px
	text-transform uppercase
	font-family fontHeadings
	text-align center
	letter-spacing 1px
.navRow
	padding-bottom 8px
	text-decoration none
	color white
.navRow:hover
	border-bottom 4px solid fontColor

/* blog archives */
#oldEntries
	margin-top 15px
	padding-top 10px
	text-transform uppercase
	border-top 1px solid fontColor
#oldEntries:hover, .archives:hover
	cursor pointer
	color blue
.archives span 
	font-size 0.8em
.archives
	display none
#blogOne, #blogTwo
	display none

/* about page */
#selfie
	float left
	width 140px
	margin-right 15px
	border-radius 100%

/* portfolio page */
.projects, .projectsEven
	width 48%
	margin 0px
	display inline-block
	float left
	height 400px
.projectsEven
	float right
.screenshot
	width 100%
.projDescrip
	font-size 85%

	
/* contact page */
input, textarea
	font-family fontBody
	font-size 1em
	padding 8px
	display block
	margin 10px 0px
	height 30px
	width 100%
	border none
	border-radius 10px
	box-shadow inset 1px 1px 5px #000
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
textarea
	height 80px
button
	background-color lightRed
	width 100%
	margin 10px 0px	
	padding 10px
	border 1px solid fontColor
	border-radius 10px
	box-shadow 1px 1px 5px fontColor
	text-transform uppercase
	font-family fontBody
	color fontColor
	font-size 1em
button:hover
	background-color lighten(lightRed, 20%)
	cursor pointer
#contact
	min-height 400px
		
/* footer */
#footer
	width 100%
#footer > p
	margin 0 auto
	padding-bottom 10px
	text-align center

/* scroll-to-top button */
.scrollToTop
	position fixed
	width 40px
	right 2%
	bottom 2%
	cursor pointer
	display none
	border-radius 5px
	box-shadow 1px 1px 8px fontColor